parameters:
  level: max
  paths:
    - src
    - test/serializer
    - test/src

  ignoreErrors:
    - '#Dynamic call to static method PHPUnit\\Framework\\.*#'
    - '#Parameter \#1 \$message of method Laminas\\Log\\LoggerInterface::.*\(\) expects string, .* given.#'

includes:
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
